<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda AJKS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/images/store.png">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <a href="/modificarClientes"><img src="../static/images/atras.png" id="atras"></a>
        <h1>Modi<span style="color: black;">ficar</span></h1>
        <a href="/"><img  class="img1"src="../static/images/store.png"></a>     
    </header>
    <div class="main">
        <div class="menu1">
            <div class="contButton">
                <div class="conAgregar">
                    <form action="/actualizacion" method="post">
                        <label for="documento">Documento (Only Read)</label>
                        <input readonly name="documento" value="{{dato[0]}}" style="background-color: #d6d6d6;border: none;" type="text" placeholder="">

                        <label for="nombre">Nombre</label>
                        <input name="nombre" value="{{dato[1]}}" type="text" placeholder="">

                        <label for="telefono">Telefono</label>
                        <input name="telefono" value="{{dato[2]}}" type="tel" placeholder="">

                        <label for="direccion">Dirección</label>
                        <input name="direccion" value="{{dato[3]}}" type="text" placeholder="">

                        <label for="abono">Abono: el cliente debe {{dato[4]}}$</label>
                        <input name="abono" value=0 type="number" placeholder="">
                        <button type="submit">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        Desarrollado por AJKS_Devs &copy;Derechos reservados 2021
    </footer>
</body>
</html>